html {
  min-height: 100%;
  position: relative; 
}

body {
  background: url("https://github.com/Chris-Hesterman/ch-images/blob/master/ControlPanel.jpg?raw=true");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 25px;
}
 
.zappa {
  background-color: rgba(0,0,0,.7);
  border: double 5px red;
  margin-top: 8%; 
}

#frank, #machine {
  color: yellow;
  text-align: center;
}

#frank {
  font-family: 'Monoton', cursive;
  font-size: 6rem;
  letter-spacing: 5px;
}

#machine {
  font-size: 3rem;
}

.quoteArea {
  border: solid 5px black;
  background-color: rgba(0 ,0 ,0 , .7);
  margin-top: 8%;
  padding-left: 10%;
  padding-right: 10%;
}

#wit {
  color: white;
  font-size: 2rem;
  text-align: center;
  
}

.btn {
  background-color: rgb(0, 172, 237);
  color: white;
  font-size: 1.75rem;
  margin-top: 3%;
  height: 40px;
  width: 120px;
}

#tweeter {
  text-align: center;
}

footer {
  bottom: 0;
  height: 25px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 100%; 
}

#mysite {
  color: yellow;
}

@media only screen and (min-width: 1300px) {
  #frank {
    font-size: 10rem;
  }
  #machine {
    font-size: 5rem;
  }
  
  #wit {
    font-size: 3.5rem;
  }
  .btn {
    font-size: 2.5rem;
    height: 60px;
    width: 175px;
  }
}

@media only screen and (max-width: 767px) {
  #frank {
    font-size: 4rem;
  }
  .btn {
    margin-top: 5%;
  }
  .quoteArea {
    padding-right: 5%;
    padding-left: 5%;
  }
}



@media only screen and (max-width: 575px) {
  #frank {
    font-size: 3rem;
    letter-spacing: 0;
  }
  #machine {
    font-size: 2rem;
  }
  #wit {
    font-size: 2rem;
  }
  .btn {
    margin-top: 7%;
  }
  
  .quoteArea {
    padding-left: 1%;
    padding-right: 1%;
  }
}

@media (max-device-width: 1000px) and (orientation: landscape) {
  .zappa {
    margin-top: 0px;
  }
  .quoteArea {
    margin-top: 0px;
  }
  #machine {
    margin-top: -4%;
  }
}

